.main {
  width: 100vw;
  background: url("./IronMan3.webp") 50% 0 no-repeat #000;
  padding-top: 50px;
}

.topButton {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color: white;
  font-size: 80px;
}
