.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: rgb(106, 18, 18);
}
